.article-content {
    width: 80%;
    height: 100%;
    padding: 4em 5em;
    position: absolute;
    top: 33em;
    box-shadow: 0px 5px 8px 0px rgba(122, 122, 122, 0.38);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}