@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$persian_gn: #00A896;
$green: #02C39A;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #575756;
$beige-lighter: #EFF0EB;
// Update Bulma's global variables
$family-sans-serif: "Nunito",
sans-serif;
$primary: $persian_gn;
$link: $green;
$input-focus-box-shadow-color: none;
@import "~bulma/bulma";
@import "./post.scss";
@import "./navbar.scss";
@import "./center.scss";
@import "./arrowButton.scss";
@import "./aboutSection.scss";
@import "./overlayBg.scss";

html {
    scroll-behavior: smooth;
}
body {
	background-color: #e6e6e6;
}

.articles-section {
	margin-top: 5em;
	margin-bottom: 5em;

	.title {
		font-weight: 300;
		color: $beige-light;
		margin-bottom: 1em;
	}

	.media-content {
		a {
			color: $beige-light;

			&:hover {
				color: $persian_gn;
			}
		}
	}
}

.sub-input {
	box-shadow: none;
	border: none;
	// border-bottom: 2px solid #4a4a4a; 
	margin-bottom: 1em;
	width: 35em;
	align-self: center;
}

.green-hover {
	transition: all 0.25s ease-in;
	border-bottom: 5px solid transparent;

	&:hover {
		transform: translateY(-5px);
		border: none;
		border-bottom: 5px solid $persian_gn;
	}
}

.footer-content-color {
	a {
		color: $grey;
		margin-right: 1em;

		&:hover {
			color: $dark;
		}
	}
}
